<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>

    <h1>Server Log Analysis</h1>
    <h2>Top 10 Most Frequent IP Addresses</h2>
    <div>
      {{ plot1|safe }}
    </div>
    <h2>Requests Over Time</h2>
    <div>
      {{ plot2|safe }}
    </div>
    <h2>Number of Successful Requests for Different Paths/Resources</h2>
    <div>
      {{ plot3|safe }}
    </div>

</body>
</html>